.basket {
    background-color: rgb(112, 164, 1);
    transition: background-color 0.2s ease 0s;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 29px;
    font-size: 14px;
}

.basket:hover {
    background-color: rgb(69, 98, 0);
}

.basketContent {
    height: 16px;
<<<<<<< HEAD
    display: flex;
=======
    display: flex; 
>>>>>>> 0657087b7ba6da58ef90271e3a43ef862a1f64d5
    color: white;
}

.basketContent svg {
    margin-right: 8px;
}
<<<<<<< HEAD
=======





















>>>>>>> 0657087b7ba6da58ef90271e3a43ef862a1f64d5
