// .header
//     background-color: white
//     padding: 7px 0 16px 0
//     width: 100vw
//     display: flex
//     justify-content: space-around
//     position: fixed
//     z-index: 3
//     & .headerLeft, .headerRight
//         display: flex
//         align-items: center
//     & .headerTop
//         display: flex

//     & .container a
//         text-decoration: none
//         margin-left: 30px
//         color: #6f8090
//         cursor: pointer
//         &:hover
//             color: rgb(112, 164, 1)
//     & .container span
//         font-family: Open Sans, Helvetica Neue, sans-serif
//         -webkit-font-smoothing: antialiased
//         line-height: 1.5
//         font-size: 14px
//         padding-left: 12px

.header
    background-color: white
    padding: 7px 0 16px 0
    width: 100vw
    display: flex
    justify-content: space-around
    position: fixed
    z-index: 3

    & .headerLeft, .headerRight
        display: flex
        align-items: center

    & .headerTop
        display: flex

    & .container a
        text-decoration: none
        margin-left: 30px
        color: #6f8090
        cursor: pointer
        &:hover
            color: rgb(112, 164, 1)

    & .container span
        font-family: Open Sans, Helvetica Neue, sans-serif
        -webkit-font-smoothing: antialiased
        line-height: 1.5
        font-size: 14px
        padding-left: 12px

    & .hamburger
        display: none
        flex-direction: column
        cursor: pointer
        span
            height: 3px
            width: 25px
            background-color: #6f8090
            margin-bottom: 5px
            border-radius: 5px

@media screen and (max-width: 500px)
    .header a
        float: none
        display: block
        text-align: left

@media (max-width: 767px)
    .header
        align-items: center

    .header .headerLeft, .header .headerRight
        width: 100%

    .header .headerTop
        display: none // hide navigation links by default

    .header .hamburger
        display: flex

    .header .showMenu .headerTop
        display: flex
        align-items: center
        width: 100%
    .showMenu
        display: flex
        & .headerTop
            display: block
