.header
    background-color: white
    padding: 7px 0 16px 0
    width: 100vw
    display: flex
    justify-content: space-around
    position: fixed
    z-index: 3
    & .headerLeft, .headerRight
        display: flex
        align-items: center
    & .headerTop
        display: flex

    & a
        text-decoration: none
        margin-left: 30px
        color: #6f8090
        cursor: pointer
        &:hover
            color: rgb(112, 164, 1)
    & span
        font-family: Open Sans, Helvetica Neue, sans-serif
        -webkit-font-smoothing: antialiased
        line-height: 1.5
        font-size: 14px
        padding-left: 12px

@media screen and (max-width: 500px)
    .header a
        float: none
        display: block
        text-align: left
