#ButtonBasket {
    position: fixed;
    right: 60px;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(200, 16, 46);
    color: white;
    width: 58px;
    height: 58px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.2s ease 0s;
}

#ButtonBasket:hover {
    background-color: rgb(150, 5, 29);
}

<<<<<<< HEAD
#ButtonBasket .countButtonBasket {
=======
#ButtonBasket div {
>>>>>>> 0657087b7ba6da58ef90271e3a43ef862a1f64d5
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    width: 17px;
    height: 17px;
    font-size: 9px;
}
