
// @use "mainPage/Header/Header.module.sass"
// @use "mainPage/Cookies/Cookies.module.sass"

.titleFoodWrapper
    position: relative
    width: 100%
    .titleFood
        position: relative
        color: black
        margin-top: 540px
        display: flex
        justify-content: center
        font-family: "PFDin"
        font-size: 26px
        font-weight: 900

        &::before
            position: relative
            top: 12px
            content: ""
            width: 100%
            max-width: 464px
            height: 2px
            margin-left: -100%
            left: -20px
            background-color: rgb(223, 223, 227)
        &::after
            position: relative
            top: 12px
            content: ""
            width: 100%
            max-width: 464px
            height: 2px
            margin-right: -100%
            right: -20px
            background-color: rgb(223, 223, 227)

.filterFood
    position: relative
    display: flex
    top: 50px
    color: rgb(49, 49, 49)
    opacity: 0.7
    & span
        margin-right: 15px
        padding: 8px 12px
        background-color: white

.foodWrapper
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    & .cart
        margin-top: 15px
        width: 250px
        background-color: white
        position: relative

        & img
            user-select: none
            object-fit: cover
            height: 180px
            cursor: pointer
        & .cartContent
            height: 275px
            padding: 12px
            max-height: 300px
            & h3
                font-family: sans-serif
                cursor: pointer
                transition: color 0.2s ease 0s
                margin-bottom: 10px
                &:hover
                    color: rgb(112, 164, 1)
            & p
                color: #6f8090
            & .params
                margin-top: 10px
                border-color: rgb(233, 235, 238)
                & input
                    padding: 5px
                    width: 100%
                    color: #6f8090
                    border: 1px solid rgb(233, 235, 238)

        // & .footerWrapper
           /*  position: relative
            margin-top: 10px
            height: 100px */

        & .footer
            position: absolute
            bottom: 11px
            width: 90%
            display: flex
            justify-content: space-between
            align-items: center
        & .priceFood
            border-top: 1px solid rgb(150 171 204)
            font-weight: 600
            font-size: 16px
            color: black