.mySwiperRec {
    align-items: center;
    user-select: none;
    cursor: grab;
    background-color: rgb(242, 242, 249);
    padding: 10px;
}

.cart {
    background-color: rgb(255, 255, 255);
    height: 317px;
}

.cartContent {
    padding: 7px;
}

.cartContent a {
    padding: 0;
}

.cartContent img {
    width: 170px;
    margin-bottom: 5px;
}

.cartContent p {
    display: flex;
    justify-content: flex-end;
}

button {
    width: 100%;
}
