.mySwiperRec {
    align-items: center;
    user-select: none;
    cursor: grab;
    background-color: rgb(242, 242, 249);
    padding: 10px;
}

.cart {
    background-color: rgb(255, 255, 255);
    height: 300px;
}

.cartContent {
    padding: 7px;
}

.cartContent a {
    padding: 0;
}

.cartContent img {
    width: 170px;
    margin-bottom: 5px;
}

.footerCart button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.priceCart {
    position: absolute;
    right: 17px;
    bottom: 52px;
}

.cartContent p {
    display: flex;
    justify-content: flex-end;
}
