.basketButton
    background-color: rgb(112, 164, 1)
    color: white
    transition: all 0.1s ease 0s
    border-radius: 6px
    font-family: "Open Sans", "Helvetica Neue", sans-serif
    cursor: pointer
    font-size: 14px
    padding: 9px 1.5rem
    display: flex

    &:hover
        background-color: rgb(69, 98, 0)

    & .title
        margin-left: 8px
        margin-right: 8px
        height: 16px
        display: flex

    & .countTotal
        padding: 0 0 0 1rem
        margin-left: 1rem
        border-left: 1px solid rgb(255, 255, 255)
